
body{
	border-spacing: 5px;
	margin: 0px;
	padding:0px;
	font-family: Open Sans;
	background:white;
}
#top{
	background:lightgrey;
	background-image: url("images/nature");
	background-size: cover;
	padding-left: 40px;
	padding-top: 40px;
	margin: 2px;
	font-family:Helvitica;
	color: black;
	border-radius: 25px;
	box-shadow: 1px 1px 3px rgb(230,230,230);
}
#pic
{
	border-radius: 90px;
}

.list{
	padding: 3px;
	padding-left:40px;
	background:lightgrey	;
	border-radius: 25px;
	margin:2px;
}
h2{
	font-family: Georgia;
	font-size: 22px;
}